:root {
  --dark-background: #111;
  --dark-foreground: #999;
  --light-background: fff;
  --light-foreground: #111;

  /* --white: #feffff;
  --dark: #24305e; 
  --red: #f76c6c; 
  --blue: #6495ed;
  --green: #8fbc8f; */
  --blur: #00000033;
  /* --background: #f4f4f4; */
  --font: #585757;
  --text: rgb(0, 0, 0, 0.1); /* #0000001a */
}

body {
  /* background-color: var(--dark-background);
  color: var(--dark-foreground); */
  /* background-color: var(--light-background);
  color: var(--light-foreground); */
}
