:root {
  --dark-background: #111;
  --dark-foreground: #999;
  --light-background: #fff;
  --light-foreground: #111;
  --p-c: #9bface;
  --into-bg: #b8f5d9;

  /* --white: #feffff;
  --dark: #24305e; 
  --red: #f76c6c; 
  --blue: #6495ed;
  --green: #8fbc8f; */
  --blur: #00000033;
  /* --background: #f4f4f4; */
  --font: #585757;
  --text: #000; /* #0000001a */
}

/* body {
  background-color: var(--light-background);
  color: var(--light-foreground);
}

body.dark {
  background-color: var(--dark-background);
  color: var(--dark-foreground);
} */

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
.z6 {
  z-index: 6;
}
.z7 {
  z-index: 7;
}
.z8 {
  z-index: 8;
}
.z9 {
  z-index: 9;
}
.z10 {
  z-index: 10;
}
.p-g-bg {
  background: radial-gradient(var(--into-bg), var(--light-background));
}
